.champion-header {
    background: #0a1428;
    text-align: left;
}
.champion-header img {
    width: 100%;
}
.champion-header-inner {
    padding: .5em 2em;
    cursor: default;
} 
.champion-header-inner h2 {
    color: #C8AA6E;
}
.champion-header-inner h1 {
    font-size: 4rem;
    margin: .5em 0;
    font-style: italic;
}
.champion-stats {
    display: flex;
    justify-content: left;
    column-gap: 15px;
    width: 100%;
    padding-bottom: 1.5em;
    border-bottom: 2px solid #C8AA6E;
}
.champion-stats-icons {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.champion-stats-icons, .champion-stats-inner svg {
    margin-bottom: .5rem;
}
.champion-stats-icons-center {
    justify-content: center;
}
.champion-stats-inner {
    border: 2px solid #C8AA6E;
    padding: 1.5em 2.25em;
    margin-top: 1.5rem;
    text-align: center;
}
.champion-stats-inner h5 {
    margin-top: 0;
    margin-bottom: 1em;
}
.champion-stats-inner p {
    margin: 0;
    font-size: .7rem;
    color: #C8AA6E
}
.champion-mastery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    font-size: .7rem;
}
.champion-mastery p {
    color: grey;
}
.champion-mastery a {
    color: white;
}
.champion-mastery a:hover {
    text-decoration: underline;
}

.champion-ability {
    display: flex;
    flex-direction: column;
    background: #0a1428;
    padding: 0 2rem;
}
.champion-ability h2 {
    margin: 0;
    font-size: 3rem;
    padding: 2rem 0;
}
.champion-abilities {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.champion-abilities div {
    width: 90px;
    font-size: .75rem;
}
.champion-abilities img {
    width: 90px;
}
.champion-ability-info {
    margin-top: 2rem;
    padding-bottom: 1.5em;
}

.champion-skins {
    padding: 2em 2rem;
}
.champion-skins h2 {
    margin-top: 0;
    color: black;
    text-align: left;
}
.champion-skin img {
    width: 100%;
}
.champion-splashes {
    display: flex;
    column-gap: 20px;
    margin-top: 1rem;
    width: 100%;
    overflow-x: auto;
    scrollbar-color: #C8AA6E #1E2328;
    scrollbar-arrow-color: #1E2328;
    scrollbar-width: thin;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.champion-splashes img {
    width: 150px;
    height: fit-content;
    object-fit: cover;
    scroll-snap-align: start;
}
.champion-splashes p {
    color: grey;
    cursor: default;
}

.active {
    fill: #C8AA6E;
}

@media (min-width: 350px) and (max-width: 585px) {
    .champion-abilities div {
        /* width: 50px; */
        width: clamp(50px, 12vw, 90px);
        font-size: .5rem;
    }
    .champion-abilities div img {
        /* width: 100%; */
        width: clamp(50px, 12vw, 90px);
    }
}