.home {
    /* width: 90%; */
}
header {
    color: black;
    margin-top: 5rem;
}

.desc {
    margin-bottom: 5rem;
}
.champions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
    gap: 50px;

    width: 100%;
}
.champion-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.champion-card img {
    width: 308px;
    height: 560px;
}
.champion-name {
    background: #0a1428;
    color: white;
    width: 308px;
}
.champion-name h3 {
    margin: 0;
    padding: .7em;
    text-align: left;
}