.items-container {
    position: relative;
    width: 95%;
}
.items-search, .account-search {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}
.items-search form, .account-search form {
    display: flex;
}
.items-search form input,
.account-search form input {
    border-color: transparent;
    width: 400px;
    padding: 1em;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.items-search form input::placeholder,
.account-search form input::placeholder {
    color: white;
    font-style: italic;
}
.items-search form button,
.account-search form button {
    border-color: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.items {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    row-gap: 20px;
    margin: 0 auto;
}
.items div {
    justify-self: center;
    width: 64px;
    height: 64px;
    cursor: pointer;
}


.block {
    position: absolute;
    pointer-events: none;
    /* width: 400px; */
    /* height: 300px; */
    /* width: fit-content; */
    width: clamp();
    /* height: fit-content; */
    background: red;
    padding: .5em;
    /* transform: translateY(calc(-30% - 50px)); */
    /* transform: translateX(0vw); */
}
.block div > * {
    color: black;
}
.first-block {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px white solid;
    padding-bottom: 1em;
}
.first-inner {
    display: flex;
    flex-direction: row;
    align-items: start;
    /* align-content: start; */
}
.first-inner h5, .first-inner p {
    margin: 0;
}
.first-data {
    text-align: left;
    height: fit-content;
}
.first-data p {
    margin: 8px 0;
}