nav {
    width: 100%;
    background: #111111;
    padding: .5em 0;
    /* margin-bottom: 5rem; */
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 2em;
}
nav ul li {
    color: white;
    align-self: center;
}
nav ul li svg {
    cursor: pointer;
    align-self: center;
}