#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1E2328;
}
 
::-webkit-scrollbar-thumb {
  background: #C8AA6E;
}